sudo: required

services:
  - docker

env:
  global:
    - secure: "aeDhCgmLL7l5ei1fFd6J0pmSGlxySya5/O6dZ+emfCT/A4q9lEbLhoFCr60uM3SSti8rIznEm7Hokklfc8BIuLSF48fUxVGuER+owCB/EmG4d8wfiLiYJ7fwLz0WUrfSOHEFnpDNzH8vsgbt7wvfkag3SnwiwXOCmWuWDbdPovFPZmzhF6stIPYepOQoZErfVz47gcG/Ue40fQ4pTZArNDLtglmQBlgz6+YLCuHKMMwHuOP9u3x9wBrFsAkXZ+Y/qnm7s6Gb8Iu4lticN2CLz/UL82K1l+xHjcWo7BopZD1hLoeb+3Qy6l32dP+nhbBqAmIhZEeiqtPuU5wdohKbTCMLTi07PaFdEzYbl45ST8r3IS+cBc/GAEze68/S8cAPuFAV5ecTeGSNdOIMpaY6AVKhkRsWqHHqx/JScmyY3HXpeTrW2Zi9eZAjyHPtT3QON+ehdiXSKJKlB0lGoAIFo1SqLSDGVV5SYxCZtM1mcbdR4gDRSVysdn1Hwx4RmmPlJth3gH2YKPqQ5sHMH/1VfUcqisZNsp6qabvxG6PntpTYaVrUxYBGf2G6g/oe83rAP07FC4iufewsHQFYivaC4YihwZ49aQqTWGohiQQcQtjL1HouPpVDnHU1PFZeI6bjPODAPNo8qXQR1o3xFphvLAG6N05e9ewARt6kyPo20wM="
    - secure: "p2s1mGce7Fc+XO98+eKr0OygwpT5u53h7oTTpIR8x3AlFWQV2WxukxNq+rvY53UO8X2YIpXWBomAmWXTAfl1KDGY2dCVLVv0/AoOKPu6Yl0AD4H3LumltoZiOlwxAumC0Mis0AOyDer6i5SlkEWzJ7hGG2xDuA+kzGWPqcQXuxPMhH1XUCMx8yOI3Wh5tVKb54JoLPq6jiqVaz9i3HWq5G5xugyoxIapT5dGrKLTRjxa1IwcosL+v+Vx5QeuhciFcl5hJISUIfEmhxTGK9VktHVTSqiGNO3Jt+w3sAEqR80zSZK+uaoXe8jCZ4OXUyBRYHGSgo1X7b1sP894DVSqIP9xV5IHrXq5c0z2SzgnZsiNH4HuBLgRe0biVs9bGAcmlEd4y6LpZMqqGaZqHAxOmtCbj29dINh0gqkiWJO91my9UaWY4FShIOLXf8LNhG5hQxpud9am3ljgZ00VQ1lXjZobFYXAV4qLtB6IQEdp0+WoQxRCBMzf95z5b1EP2rbTQ+raJGK+57l7RPdt1ofkNpY7/nLxPfy7R5Twqa+q9dlcfDPLLu+OYRTD7K12bxHZcASVM7T0h4hg4MiYR6ipOnk1MWr8lHdiCjva6w9qrUF9sY2/EsdUZIKEhGmks9Pnl78J4UhlAxJ2vX7s964Rg6SGdTPwybCkYXZtuTL/NlU="
    - COMMIT=${TRAVIS_COMMIT::8}

#before_install:
#    - apt-cache madison docker-engine
#    - sudo apt-get -o Dpkg::Options::="--force-confnew" install -y docker-engine

script:
  - docker version
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - export GO_REPO=itcreator/go-micro-stack
  - docker build -f go/Dockerfile -t $GO_REPO:$COMMIT go
  - docker tag $GO_REPO:$COMMIT $GO_REPO:$TAG
  - docker tag $GO_REPO:$COMMIT $GO_REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $GO_REPO
  - export CONSUL_REPO=itcreator/go-micro-stack-consul
  - docker build -f consul/Dockerfile -t $CONSUL_REPO:$COMMIT consul
  - docker tag $CONSUL_REPO:$COMMIT $CONSUL_REPO:$TAG
  - docker tag $CONSUL_REPO:$COMMIT $CONSUL_REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $CONSUL_REPO
  - export PROTOC_REPO=itcreator/go-micro-stack-protoc-go-micro
  - docker build -f protoc-go-micro/Dockerfile -t $PROTOC_REPO:$COMMIT protoc-go-micro
  - docker tag $PROTOC_REPO:$COMMIT $PROTOC_REPO:$TAG
  - docker tag $PROTOC_REPO:$COMMIT $PROTOC_REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $PROTOC_REPO
